In [1]:
import pandas as pd

candid_eci18 = pd.read_csv('../../Final Data/candid_eci18.csv', index_col=0)
const18 = pd.read_csv('../../Final Data/const18.csv', index_col=0)
candid_eci23 = pd.read_excel(r"../../Stationary\2023 Elections\ECI Results\10-Detailed Results.xlsx")

In [2]:
df18 = candid_eci18.loc[candid_eci18['party'] == 'NOTA', ['votes', 'constituency']]
nota18 = df18.merge(const18[['constituency', 'total_electors', 'const_num']], on='constituency')

In [3]:
nota18

     votes      constituency  total_electors  const_num
0     1447           Nippani          212456          1
1     1363  Chikkodi-Sadalga          211083          2
2      842            Athani          214688          3
3      754            Kagwad          182173          4
4      348           Kudachi          180509          5
..     ...               ...             ...        ...
218   1660       T.Narasipur          198441        220
219   1373             Hanur          207662        221
220   1524          Kollegal          211555        222
221   2063    Chamarajanagar          206162        223
222   1231         Gundlupet          205646        224

[223 rows x 4 columns]

In [4]:
candid23 = candid_eci23.loc[candid_eci23['PARTY'] == 'NOTA', ['AC NO.', 'AC NAME', 'TOTAL', 'TOTAL ELECTORS']]

In [5]:
nota23 = candid23.rename(columns={
    'AC NO.':'const_num',
    'AC NAME':'constituency',
    'TOTAL':'votes',
    'TOTAL ELECTORS':'total_electors'
}).astype(
    {
        'const_num':pd.Int64Dtype(),
        'votes':pd.Int64Dtype(),
        'total_electors':pd.Int64Dtype(),
        'constituency':str
    }
)

In [6]:
nota = nota23.merge(nota18, on='const_num', suffixes=('_23', '_18')).drop(['constituency_23'], axis='columns').rename({'constituency_18':'constituency'}, axis='columns')

In [7]:
nota18 = nota[['const_num', 'constituency', 'votes_18', 'total_electors_18']].rename({'votes_18':'votes', 'total_electors_18':'total_electors'}, axis='columns')
nota18['Year'] = 2018

In [8]:
nota23 = nota[['const_num', 'constituency', 'votes_23', 'total_electors_23']].rename({'votes_23':'votes', 'total_electors_23':'total_electors'}, axis='columns')
nota23['Year'] = 2023

In [9]:
nota = pd.concat([nota18, nota23])

In [17]:
nota['vote_share_percent'] = nota['votes'] / nota['total_electors'] * 100

In [18]:
nota.to_csv('../../Final Data/nota.csv', index=False)

In [19]:
nota.loc[nota['Year']==2018, ['votes', 'vote_share_percent']].describe()

            votes  vote_share_percent
count       223.0               223.0
mean   1406.70852            0.625156
std    524.537849            0.199342
min         348.0            0.177327
25%        1040.5            0.486219
50%        1345.0            0.601575
75%        1712.0            0.764686
max        3952.0            1.215118

In [20]:
nota.loc[nota['Year']==2023, ['votes', 'vote_share_percent']].describe()

             votes  vote_share_percent
count        223.0               223.0
mean   1204.358744            0.501702
std     614.344378            0.181431
min          426.0            0.203584
25%          802.5            0.369208
50%         1065.0            0.479105
75%         1468.0            0.609855
max         4775.0            1.242423