In [55]:
import pandas as pd
# from math import ceil

df13 = pd.read_csv('../../Final Data/candid_opencity13.csv', index_col=0)
df18 = pd.read_excel("../2018 Elections/10.Detailed Resulsts.xls")
df23 = pd.read_csv('../../Final Data/candid_eci23.csv', index_col=0)
const_num = pd.read_csv('../../Final Data/const_num.csv', index_col=0)

In [56]:
df13 = df13.merge(const_num, on='constituency', how='right')[['constituency', 'const_num', 'total_electors', 'total_const_votes']]
df13.drop_duplicates(inplace=True)
df13['const_num'] = df13['const_num'].astype(int)
df13['Year'] = 2013
df13.head(5)

        constituency  const_num  total_electors  total_const_votes  Year
0            Nippani          1          189696             152690  2013
12  Chikkodi-Sadalga          2          187308             149375  2013
24            Athani          3          186167             146290  2013
34            Kagwad          4          164201             129200  2013
47           Kudachi          5          147941             115375  2013

In [57]:
df18.columns = ['num','name','gender','age','candid_categ','party','symbol','gen_votes','post_votes','total_votes','percent_votes']
df18['num'] = df18['num'].astype(str)
df18 = df18.loc[df18['num'].str.contains('Constituency|TURNOUT')]

turnout18 = {
    'constituency': [],
    'total_electors': [],
    'total_const_votes':[],
    'const_num':[],
}

for idx, row in df18.iterrows():
    if row['num'] == 'Constituency':
        turnout18['const_num'].append(row['name'])
        turnout18['constituency'].append(row['age'])
        turnout18['total_electors'].append(row['party'])
    else:
        turnout18['total_const_votes'].append(row['candid_categ'])

df18 = pd.DataFrame(turnout18)
df18['const_num'] = df18['const_num'].astype(int)
df18['Year'] = 2018
df18.head(5)

       constituency  total_electors  total_const_votes  const_num  Year
0           Nippani          212456             172251          1  2018
1  Chikkodi-Sadalga          211083             179201          2  2018
2            Athani          214688             170565          3  2018
3            Kagwad          182173             145735          4  2018
4     Kudachi  (SC)          180509             136653          5  2018

In [58]:
df23 = df23[['const_num', 'constituency', 'total_electors', 'total_const_votes']].drop_duplicates()
df23['const_num'] = df23['const_num'].astype(int)
df23['Year'] = 2023

In [63]:
df = pd.concat([df13, df18, df23], axis=0)
df = df.merge(const_num, on='const_num', how='left').drop(columns=['constituency_x']).rename(columns={'constituency_y':'constituency'})

In [73]:
df.to_csv('../../Final Data/voter_turnout.csv', index=False)